@import './variables.scss';

@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

@import url(https://fonts.googleapis.com/earlyaccess/notosanssc.css);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

button {
	cursor: pointer;
}

/* smooth transitions for interactive elements */
button, .header-input, .create-schedule, .calendar-month__event-pill, .schedule-input__title {
  transition: all 0.2s ease;
}

.app {
	display: grid;
	grid-template-rows: minmax(min-content, max-content) auto;
	width: 100vw;
	max-width: 100%;
	min-height: 100vh;
	height: max-content;
		font-family: 'Product Sans', 'Roboto', 'Noto Sans SC', Helvetica, Arial, sans-serif;
		font-size: $base-font-size;
		/* slightly increase global topbar & sidebar base for improved readability */
		background: $app-bg;
		color: $primary-color-font;
}

.header > * , .sidebar > *, .calendar-wrapper > * {
	padding: 8px 20px; /* increased horizontal padding for rhythm */
}

.sidebar {
	padding-bottom: 5rem
}

.header, .sidebar {
	-webkit-user-select: none;
	-moz-user-select: none;
	 -ms-user-select: none;
			 user-select: none;
}

.main {
    display: flex;
    flex-direction: row;
    position: relative;
	gap: 0; /* remove horizontal gap so calendar-card can overlap the sidebar */
    height: calc(100vh - 72px);
}

.loading-txt {
	font-size: 13px;
	font-family: 'Noto Sans SC', Helvetica, Arial, sans-serif;
		color: $color-royal-blue;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

	}

.max-content{
	width: max-content!important;
}

[class^=icon] {
	filter: $filtered-color-light;
	@include child-attribute('--small') {
		@include isometric-dim(16px);
	}
	@include child-attribute('--medium') {
		@include isometric-dim(24px);
	}
	@include child-attribute('--large') {
		@include isometric-dim(30px);
	}
}

button:hover > [class^=icon]{
	filter: $filtered-color-dark;
}

/* global input elements stylings */
[class^=clear-btn] {
	background-color: transparent;
	margin: 0;
	border: none;
	width: max-content;
	height: max-content;
	border-radius: 50%;
	padding: 3px 4px;
	&:hover {
		background-color: $bg-color--hover;
	}
	@include child-attribute('--no-border') {
		border-radius: 0;
	}
}

.clear-btn--no-effects:hover {
	background-color: transparent!important;
}

.create-schedule {
	@extend %btn-to-dialog;
}

%btn-to-dialog {
	box-shadow: $elevation-shadow;
	border-radius: 48px;
	width: max-content!important;
	gap: 1rem;
	padding: 5px 20px 5px 5px;
	cursor: pointer;
	color: #3c4043;
	font-size: 14px;
	max-height: 46px;
	border: none;
	background-color: #fff;
}

%btn-to-dialog:hover {
	box-shadow: $elevation-shadow-lg;
}

.google-plus-wrapper {
	position: absolute;
	z-index: 500;
	top: 15px;
	left: 22px;
	&--small {
		@extend %btn-to-dialog;
		padding: 5px;
	}
}

.o-wrapper {
	padding: 1rem;
}

.dialog__options {
	display: flex;
	flex-direction: column;
	min-width: 100%;
	width: 120px;
	li {
		list-style-type: none;
		width: 100%;
		button {
			width: 100%;
			height: max-content;
			background: none;
			border: none;
			padding: .5rem 0;
			font-weight: 500;
		}
	}
	li:hover {
		background-color: $dialog-item--hover;
	}
}